<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layouts/template}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Invoice Create</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">New Invoice</h3>
                        </div>
                        <!-- /.card-header -->

                        <form th:method="post" th:action="@{/admin/invoice/create}" th:object="${invoice}">
                            <div class="card-body">
                                <div class="alert" th:if="${message}" th:text="${message.content}"
                                     th:classappend="${message.className}"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a th:href="@{/admin/invoice/create}"><button  type="button" class="btn btn-primary">New Invoice</button> </a>
                                        <table class="table table-sm" id="productTable">
                                            <thead>
                                                <th>#</th>
                                                <th>Date</th>
                                                <th>Name</th>
                                                <th>Amount</th>
                                                <th></th>
                                            </thead>
                                            <tbody>
                                            <tr th:each="invoice,loop : ${invoices}" th:id="row + ${loop.index}">
                                                <td th:text="${loop.index} + 1"></td>
                                                <td th:text="${invoice.date}"></td>
                                                <td th:text="${invoice.client.clientName}"></td>
                                                <td th:text="${invoice.totalAmt}"></td>
                                                <td >
                                                    <a th:href="@{/admin/invoice/view/{id}(id=${invoice.id})}"><button type="button" class="btn btm-sm">
                                                        <i class="fa fa-print"></i>
                                                    </button></a>
                                                    <a th:href="@{/admin/invoice/edit/{id}(id=${invoice.id})}"><button type="button" class="btn btm-sm">
                                                        <i class="fa fa-edit"></i>
                                                    </button></a>
                                                    <a th:href="@{/admin/invoice/delete/{id}(id=${invoice.id})}" onclick="if (!(confirm('Are you sure you want to delete this invoice?'))) return false"><button type="button" class="btn btm-sm">
                                                        <i class="fa fa-trash"></i>
                                                    </button></a>
                                                </td>


                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->

                </div>
                <!--/.col (left) -->
                <div class="col-md-6"></div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
</body>

</html>