<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layouts/template}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Product Create</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">New Product</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form method="post" th:action="@{/admin/product/create}" th:object="${product}" >
                            <div class="card-body">
                                <input type="hidden" th:field="*{id}">
                                <div class="form-group">
                                    <label>Product Name</label>
                                    <input type="text" th:field="*{productName}"
                                           th:classappend="${#fields.hasErrors('productName') ? 'is-invalid' : ''}"
                                           class="form-control">
                                    <span th:each="e : ${#fields.errors('productName')}" th:text="${e}" id="exampleInputProduct-error"
                                          class="invalid-feedback"></span>
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="text" th:field="*{price}" th:classappend="${#fields.hasErrors('price') ? 'is-invalid' : ''}" class="form-control">
                                    <span th:each="e : ${#fields.errors('price')}" th:text="${e}" id="exampleInputprice-error"
                                          class="invalid-feedback"></span>
                                </div>
                                <div class="form-group">
                                    <label>Gst Rate</label>
                                    <input type="number" step=".1" th:field="*{gstRate}"
                                           th:classappend="${#fields.hasErrors('gstRate') ? 'is-invalid' : ''}"
                                           class="form-control">
                                    <span th:each="e : ${#fields.errors('gstRate')}" th:text="${e}" id="exampleInputgstRate-error"
                                          class="invalid-feedback"></span>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->

                </div>
                <!--/.col (left) -->
                <div class="col-md-6"></div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
</body>
</html>